<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/estilos.css" />
  <script src="./js/Vue3.js"></script>
  <title>Agenda de Contactos</title>
</head>
<body>
  <header>
    <h1>Agenda de Contactos</h1>
  </header>
  <section id="seccion">
    <fieldset class="col-6">
      <legend>Agrega un contacto</legend>
      Nombre: 
      <input v-model="nuevoNombre" type="text" maxlength="50">
      Teléfono: 
      <input v-model="nuevoTelefono" type="text" maxlength="20">
      Categoría:
      <select v-model="nuevaCategoria">     
        <option value="Familiar">Familiar</option>
        <option value="Trabajo">Trabajo</option>
        <option value="Salud">Salud</option>
        <option value="Amistad">Amistad</option>
      </select>
      <button @click="agregarContacto()">Agregar</button>
    </fieldset>
    <article>
      <table>
        <tr>
          <th colspan="5">Contactos</th>
        </tr>
        <tr v-for="(contacto, index) in contactos":key="index":class="{fondo:contacto.llamadas>0||contacto.mensajes>0}">
          <td>{{contacto.nombre}}</td>
          <td>{{contacto.telefono}}</td>
          <td>{{contacto.categoria}}</td>
          <td>
            <button @click="contacto.llamadas++":disabled="contacto.llamadas>=15">Llamada</button>
            <input type="number" v-model.number="contacto.llamadas" min="0" max="15" />
          </td>
          <td>
            <button @click="contacto.mensajes++" :disabled="contacto.mensajes >= 25">Mensaje</button>
            <input type="number" v-model.number="contacto.mensajes" min="0" max="25" />
          </td>
          <td><button @click="eliminarContacto(index)">Eliminar</button></td>
        </tr>
        <tr>
          <td colspan="2">Total llamadas</td>
          <td colspan="3">{{totalLlamadas}}</td>
        </tr>
        <tr>
          <td colspan="2">Total mensajes:</td>
          <td colspan="3">{{totalMensajes}}</td>
        </tr>
      </table>
    </article>
  </section>
  <script src="./js/script.js"></script>
</body>
</html>